.travel1 {
  margin: 0 auto;
  &__content {
    background: url("../img/spain-1859434_1280.png") center no-repeat;
    height: 684px;
    position: relative;
    width: 100%;
    margin: -1px 0;
  }
}
.block {
  &__travel1 {
    padding: 0 2% 0;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 344px;
    background-color: $block;
    margin-left: 2%;
  }
}
@media (max-width: $lg) {
  .block__travel1 {
    width: 90%;
  }
}
